extends layout
block content
	.list
		h1 URL Mock
		table.table.table-bordered(style='width:100%')
			thead
				tr
					th Method
					th Url
					th Doc
					th Actions
			tbody
				each data, url in locals.urls
					tr
						td #{data.method}
						td #{url}
							- if (data.post_params) {
								span [#{data.post_params}]
							- }
						td
							- if (data.doc) {
								button(class="btn btn-primary btn-lg",data-toggle="modal",data-target="#myModal") Doc
								div(class="modal fade", id="myModal", tabindex="-1",role="dialog")
									div(class="modal-dialog")
										div(class="modal-content")
											div(class="modal-header")
												button(type="button",class="close",data-dismiss="modal")
													span &times;
												h4 Modal title
											div(class="modal-body")
												span #{data.doc}
											div(class="modal-footer")
											button(type="button",class="btn btn-default btn-lg",data-dismiss="modal")
												span Close
							- }
						td
							- if (data.post_params) {
								a(href='form?path=#{url}&params=#{data.post_params}',class="btn btn-primary btn-lg") GO
							- }
							- else {
								a(href=url,class="btn btn-primary btn-lg") GO
							- }
	.models
		h1 Models
		.accordion
			each model in locals.models
				.accordion-group
					.accordion-heading
						a.accordion-toggle(data-toggle="collapse",data-parent="#accordion2",href="#"+model.name) #{model.name}
					.accordion-body.collapse(id=model.name)
						table.table.table-bordered(style="width:450px")
							thead
								tr
									th Name
									th Type
							each val in Object.keys(model.def)
								tbody
									tr
										td #{val}
										td(style="width:200px") #{model.def[val]}

